# Copyright (c) 2025, Friedt Professional Engineering Services Inc.
#
# SPDX-License-Identifier: Apache-2.0

config KCL
	bool "Kernel compatibility layer"
	help
	  Select 'y' here to enable the kernel compatibility layer (KCL).

	  The KCL provides a compatibility layer that maps system calls to Zephyr kernel APIs.
	  This allows applications written for other Operating Systems to run on Zephyr with
	  minimal modifications.

choice KCL_CHOICE
	prompt "Select a kernel compatibility layer"
	default KCL_CHOICE_NONE
	help
	  Select the kernel compatibility layer to use.

	  The KCL provides a compatibility layer that maps system calls to Zephyr kernel APIs.
	  This allows applications written for other Operating Systems to run on Zephyr with
	  minimal modifications.

config KCL_CHOICE_NONE
	bool "None"
	default y
	help
	  No kernel compatibility layer selected. Only Zephyr's native system calls are available.

config KCL_CHOICE_LINUX
	bool "Linux"
	help
	  Select 'y' here to enable the Linux kernel compatibility layer.

endchoice
