# Copyright (c) 2024 Tenstorrent AI ULC
#
# SPDX-License-Identifier: Apache-2.0

menuconfig POSIX_DEVICE_IO
	bool "POSIX Device IO"
	default y if POSIX_API
	help
	  Select 'y' here and Zephyr will provide an implementation of the POSIX_DEVICE_IO Option
	  Group such as FD_CLR(), FD_ISSET(), FD_SET(), FD_ZERO(), close(), fdopen(), fileno(), open(),
	  poll(), pread(), pselect(), pwrite(), read(), select(), and write().

	  For more informnation, please see
	  https://pubs.opengroup.org/onlinepubs/9699919799/xrat/V4_subprofiles.html

if POSIX_DEVICE_IO

# These might end up being non-user selectable options, since they
# are fairly closely tied to the implementation.

config POSIX_DEVICEIO_ALIAS_CLOSE
	bool "Create a _close() alias for close()"
	default y
	help
	  Select 'y' here and Zephyr will provide an alias for close() as close().

config POSIX_DEVICEIO_ALIAS_OPEN
	bool "Create a _open() alias for open()"
	default y
	help
	  Select 'y' here and Zephyr will provide an alias for open() as open().

config POSIX_DEVICEIO_ALIAS_READ
	bool "Create a _read() alias for read()"
	default y
	help
	  Select 'y' here and Zephyr will provide an alias for read() as _read().

config POSIX_DEVICEIO_ALIAS_WRITE
	bool "Create a _write() alias for write()"
	default y
	help
	  Select 'y' here and Zephyr will provide an alias for write() as _write().

endif # POSIX_DEVICE_IO
